.header {
  margin-left: 5vw;
}

.body {
  background-image: url(../../assets/backgroundHomePage.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pagCreareCont {
  margin-top: 10vh;
  text-align: center;

  .atentionare {
    color: red;
    font-size: 1rem;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    font-family: Constantia, serif;
    background-color: rgb(252, 248, 248);
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 3vw;
    font-size: 1.5rem;
    height: auto;
    width: 30vw;

    input {
      border-radius: 6px;
      border: 1px solid #333333;
      height: 5vh;
      width: 15vw;
    }
  }

  .butoaneCreareCont {
    cursor: pointer;
    display: inline-block;
    width: 8vw;
    height: 6vh;
    margin-top: 2vh;
    border-radius: 20px;
    border: 1px solid #000000;
    background-color: rgba(35, 146, 178, 0.87);
    overflow: hidden;
    text-align: center;
    line-height: 6vh;

    a {
      color: #ffffff;
      font-size: 1.2rem;
      text-decoration: none;
    }
  }
}

@media (max-width: 600px) {
  .pagCreareCont table {
    width: 90%;
    padding: 4vw;
    font-size: 1rem;
  }

  .pagCreareCont table input {
    width: 80%;
    height: 5vh;
  }

  .butoaneCreareLogare {
    width: 40vw;
    height: 7vh;
    line-height: 7vh;
  }

  .header {
    margin-left: 2vw;
  }
}
